* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Roboto', sans-serif, serif;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

section, .footer {
    padding: 16px 32px 16px 32px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 8px 32px 8px 32px;
}

.logo-image {
    width: 250px;
    height: auto;
    user-drag: none;
	-webkit-user-drag: none;
	-moz-user-select: none;
}

.nav-container {
    display: flex;
    gap: 16px;
    align-items: center;
}

.nav-link {
    color: white;
    font-weight: 0;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.hero-section {
    display: flex;
    background-color: #1F2937;
    gap: 8px;
    padding: 96px 64px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hero-heading {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8
}

.hero-paragraph {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-button {
    align-self: flex-start;
    background-color: #3882F6;
    padding: 12px 20px;
    border-radius: 8px;
    border: none;
    color: #F9FAF8;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.hero-img {
    max-width: 600px;
    border-radius: 32px;
    display: block;
    box-shadow: 8px 8px #3882F6;
    transition: transform 0.1s ease-in-out;
}

.hero-img:hover, .hero-button:hover, .info-image:hover {
    transform: scale(1.1);
}

.info-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.info-heading {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin: 10px;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.info-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.info-image {
    width: 200px;
    border: 3px solid #3882F6;
    border-radius: 8px;
    background-color: #3882F6;
    transition: transform 0.1s ease-in-out;
    user-drag: none;
	-webkit-user-drag: none;
	-moz-user-select: none;
}